@model List<Cebritas.BusinessLogic.Entities.Place>
@{
    ViewBag.Title = "ListForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header {
    <style type="text/css">
        html, body {
            min-height: 100%;
            height: 100%;
            padding: 0px;
            margin: 0px;
        }
        table thead {
            font-weight: bold;
        }
        td {
            padding-left: 6px;
            padding-right: 6px;
        }
        #main {
            margin: auto;
            width: 800px;
        }
        .table-row-alt {
            background: #efefef;
        }
        .table-row:hover {
            background: #feea2d;
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.table-row').click(function (event) {
                //alert();
                window.location.href = '/temp/places/edit?id=' + event.currentTarget.id;
            });
        });
    </script>
}
@{
    var culture = new System.Globalization.CultureInfo("en-US");
}
<div id="main">
    <h2>Places List</h2>
    @Html.ActionLink("Go to Categories", "List", "Category")
    <br />
    @Html.ActionLink("Create Place", "Add", null, new { @class = "btn" })
    <br />
    <br />
    <table border="1">
        <thead>
            <tr>
                <td>Category</td>
                <td>Name</td>
                <td>Address</td>
                <td>Min Price</td>
                <td>Max Price</td>
                <td>Latitude</td>
                <td>Longitude</td>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Count; ++i) {
            if (i % 2 == 0) {
                @:<tr class="table-row" id="@Model[i].Id">
            } else {
                @:<tr class="table-row table-row-alt" id="@Model[i].Id">
            }
                <td>@Model[i].Category.Name</td>
                <td>@Model[i].Name</td>
                <td>@Model[i].Address</td>
                <td>@Model[i].MinPrice.ToString(culture)</td>
                <td>@Model[i].MaxPrice.ToString(culture)</td>
                <td>@Model[i].Latitude.ToString(culture)</td>
                <td>@Model[i].Longitude.ToString(culture)</td>
            @:</tr>
        }
        </tbody>
    </table>
</div>