<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/css/vendor/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/js/jquery.js")"></script>
    @RenderSection("Header")
</head>
<body>
    @RenderBody()

    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
</body>
</html>