@model Cebritas.Web.Models.PlacesModule.CategoryModel
@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header { }
@{
    bool isUpdate = Model.Id != 0;
}
@if (isUpdate) {
    @: <h2>Edit Category</h2>
} else {
    @: <h2>New Category</h2>
}
@using (Html.BeginForm("Save", "Category", FormMethod.Post)) {
    @Html.HiddenFor(x => x.Id)
    <div style="width: 380px;">
        <table>
            <tr>
                <td>Parent Category: </td>
                <td>
                    @Html.DropDownList("ParentId", ViewBag.Parents as SelectList, string.Empty)
                </td>
            </tr>
            <tr>
                <td>Name: </td>
                <td>@Html.TextBoxFor(x => x.Name)</td>
            </tr>
            <tr>
                <td>Spanish Name: </td>
                <td>@Html.TextBoxFor(x => x.SpanishName)</td>
            </tr>
            <tr>
                <td>Icon Url:</td>
                <td>@Html.TextBoxFor(x => x.Icon)</td>
            </tr>
        </table>

        @if (!isUpdate) {
            @: <input class="btn" type="submit" value="Create" />&nbsp;
        } else {
            @: <input class="btn" type="submit" value="Update" /> &nbsp;
            @: <input class="btn" onclick="location.href='@Url.Action("Delete", "Category", new { Id = Model.Id })'" type="button" value="Delete" /> &nbsp;
        }
        <input class="btn" onclick="location.href='@Url.Action("List", "Category")'" type="button" value="Back to list" />
    </div>
}